body {
  margin: 0;
  padding: 0;
  font-family: Verdana, 'Courier New', Courier, monospace;
  background-image: url('background.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
}

.container-login {
  /* Centering Content */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  min-height: 500px;
  width: auto;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  /* Decoration */
  border-radius: 25px;
  background-color: rgb(234, 235, 237, 0.9);
  color: black;
  font-family: 'Roboto', Verdana, Arial;
}

.container-login img {
  margin-bottom: 3rem;
}

.menu-container {
  /* Centering Content */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  min-height: 600px;
  width: auto;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  /* Decoration */
  border-radius: 25px;
  background-color: rgb(234, 235, 237, 0.9);
  color: black;
  font-family: verdana;
}

.menu-container button {
  width: auto;
  max-width: 250px;
  min-width: 200px;
  height: 125px;
  margin: 1rem;
}

.menu-container img {
  max-height: 150px;
  max-width: 150px;
}

.menu-logo {
  margin: 5%;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-container-info {
  /* Centering Content */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  min-height: auto;
  width: 100%;
  min-width: auto;
  max-width: 650px;
  margin: auto;
  padding: 4rem;
  /* Decoration */
  border-radius: 25px;
  background-color: rgb(234, 235, 237, 0.9);
  color: black;
  font-family: verdana;
}

.enterForm-cust {

}

.enterForm-dog {

}

.main-container {
  padding: 10%;
}
